.change_password_password{
    float: left;
    width: 100%;
    font-size: 1em;
    height: 3em;
    line-height: 3em;
    margin: 0.5em 0;
    text-indent: 1em;
}
.change_password_submit{
    float: left;
    width: 94%;
    margin:0.5em 3%;
    font-size: 1.2em;
    height: 2.5em;
    background:linear-gradient( #3388ff, #027ad7);
    border-radius: 0.25em;
    color: #FFF;
}
.error{border:1px solid red;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box}